.signform p{
    width: 76%;
    font-size: 0.8rem;
}

.signform button{
    padding: 10px;
    background-color: #090231;
    color: white;
    font-size: 1.2rem;
    border: 0.5px solid #090231;
    border-radius: 7px;
    margin: 10px 0 0 0;
    width: 50%;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}